/*
=========
Variables
=========
*/
:root {
    --padding-one: 0.4rem;
    --padding-two: 1rem;
    --padding-three: 1.6rem;
    --gap-primary: 0.8rem;
    --gap-secondary: 1rem;
    --font-size-primary: 1rem;
    --font-size-secondary: 0.8rem;
    --radius-primary: 5rem;
    --radius-secondary: 0.2rem;
    --clr-light-grey: #dbdbdb;
    --overlay-clr: rgba(0, 0, 0, 0.002); 
    --background-clr-primary: #282C34;
    --background-clr-primary-light: #383e4a;
    --background-clr-secondary: #ABB2BF;
    --clr-grey: #686d73;
    --clr-red: #E06C75;
    --clr-orange: #ff9966;
    --clr-green: #98C379;
    --clr-blue: #61AFEF;
    --clr-blue-dark: #126eba;
    --clr-purple: #C678DD;
    --clr-teal: #56B6C2;
    --focus-color: #E5C07B;
    --font-primary: 'Rubik', sans-serif;
    --font-secondary: 'Source Code Pro', monospace;
}

/*
=============
Global styles 
=============
*/
* {
    box-sizing: border-box;
    font-size: var(--font-size-primary);
    font-family: var(--font-primary);
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    padding: var(--padding-one);
    text-transform: capitalize;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    text-transform: capitalize;
}

p {
    font-family: var(--font-secondary);
    color: white;
}

h1 {
    margin: 0;
    padding: 0;
}

span {
    font-family: var(--font-secondary);
}

option {
    text-transform: capitalize;
}

input[type="range"] {
    /* override deafault appearance */
    appearance: none;
    height: 2px;
    border-radius: var(--radius-primary);
    margin-top: 0.5rem;
    margin-bottom: 0.6rem;
    background-color: var(--background-clr-primary-light);
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 0.6rem;
    background-color: var(--clr-grey);
    border: 1px solid var(--clr-grey);
    border-radius: var(--radius-primary);
}

input[type=range]::-moz-range-thumb {
    appearance: none;
    height: 1rem;
    width: 0.6rem;
    background-color: var(--clr-grey);
    border: 1px solid var(--clr-grey);
    border-radius: var(--radius-primary);
}

input[type=range]:hover {
    filter: brightness(1.2);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-clr-primary-light);
}

::-webkit-scrollbar-track {
    background-color: var(--background-clr-primary);
}

/*
==================
Sort-Visual styles
==================
*/
.banner {
    background-color: var(--background-clr-primary);
    padding: var(--padding-two);
}

.banner h1 {
    font-weight: bold;
    color: white;
    margin-left: 2rem;
    font-size: 2rem;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--padding-two);
    background-color: var(--background-clr-secondary);
}

.nav-bar__button-container {
    display: flex;
    gap: var(--gap-primary);
    margin-left: var(--gap-primary);
    margin-top: 1rem;
    align-items: center;
}

.nav-bar__button-container__btn {
    background-color: var(--clr-grey);
    border: 2px solid var(--clr-grey);
    color: white;
    min-width: 6rem;
    border-radius: var(--radius-secondary);
}

.nav-bar__button-container__btn:hover {
    filter: brightness(0.85);
}

#play-btn {
    background-color: var(--clr-purple);
    border: 2px solid var(--clr-purple);
}

.nav-bar__button-container__btn:focus {
    outline: 2px solid var(--focus-color);
}

.nav-bar__slider-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: var(--padding-one);
    margin-left: 1rem;
}

.bubble {
    position: relative;
    display: inline-block;
    text-align: center;
    padding-top: 0.4rem;
    font-size: var(--font-size-secondary);
    background-color: var(--clr-blue-dark);
    color: white;
    height: 1.8rem;
    width: 1.8rem;
    margin-bottom: 0.5rem;
    border-radius: var(--radius-primary);
}

.bubble:before {
    content: "\25bc";
    position: absolute;
    top: 22px;
    left: 10px;
    color: var(--clr-blue-dark);
}

.algo_options-container__label {
    text-align: center;
    font-size: var(--font-size-secondary);
    color: var(--background-clr-primary-light)
}

.nav-bar__algo_options-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.algo_options-container__select {
    margin-left: var(--gap-secondary);
    background-color: var(--background-clr-secondary);
    border-bottom: 1px solid var(--background-clr-primary);
    border-left: none;
    border-right: none;
    border-top: none;
    color: black;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    margin-right: 1rem;
    padding-top: 2rem;
}

.toggle-container__btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 1rem;
    width: 5rem;
    margin-top: 0.4rem;
    font-size: 1.2rem;
    align-items: center;
    border: transparent;
    border-radius: 1rem;
    padding: 0;
}

.toggle-container__btn span {
    font-family: var(--font-primary);
    font-size: var(--font-size-secondary);
    padding: 0.5rem;
}

.toggle-container__slider {
    position: absolute;
    display: block;
    width: 50%;
    height: 1rem;
    margin: 0;
    background-color: var(--clr-blue-dark);
    border: transparent;
    border-radius: 1rem;
    transition: all 0.3s linear;
}

.toggle-container__slider-slide {
    transform: translateX(100%);
}

.canvas-container {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 83.58%;
}

.canvas-container__array-canvas {
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 50%;
    min-height: 50%;
    gap: 0.5%;
    padding: 0.5rem;
}

.bar {
    background-color: var(--clr-blue);
    border-radius: var(--radius-secondary);
}

.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -30;
}

.modal-overlay-show {
    z-index: 0;
    background-color: var(--overlay-clr);
}

@media screen and (min-width: 1000px) {
    .nav-bar {
        flex-direction: row;
    }
}